#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: Some("~/.config/rmpc/themes/Chikai.jpg"),
    draw_borders: true,
    show_song_table_header: true,
    symbols: (song: "🎵", dir: "📁", playlist: "🎼", marker: "\u{e0b0}"),
    layout: Split(
        direction: Vertical,
        panes: [
            (
                pane: Pane(Header),
                size: "1",
            ),
            (
                pane: Pane(TabContent),
                size: "100%",
            ),
            (
                pane: Pane(ProgressBar),
                size: "1",
            ),
        ],
    ),
    progress_bar: (
        symbols: ["", "", " ", " ", " "],
        track_style: (bg: "#282828"),
        elapsed_style: (fg: "#ebdbb2", bg: "#282828"),
        thumb_style: (fg: "#ebdbb2", bg: "#282828"),
    ),
    scrollbar: (
        symbols: ["│", "█", "▲", "▼"],
        track_style: (),
        ends_style: (),
        thumb_style: (fg: "#ebdbb2"),
    ),
    browser_column_widths: [20, 38, 42],
    text_color: "#ebdbb2",
    background_color: "#282828",
    header_background_color: "#282828",
    modal_background_color: "#282828",
    modal_backdrop: false,
    tab_bar: (active_style: (fg: "black", bg: "#282828", modifiers: "Bold"), inactive_style: ()),
    borders_style: (fg: "#E29C6F"),
    highlighted_item_style: (fg: "#c6a0f6", modifiers: "Bold"),
    current_item_style: (fg: "black", bg: "#b7bdf8", modifiers: "Bold"),
    highlight_border_style: (fg: "#b7bdf8"),
    song_table_format: [
        (
            prop: (kind: Property(Filename), style: (fg: "#ebdbb2"), default: (kind: Text("Unknown"))),
            width: "100%",
            alignment: Center,
            ),
    ],
    header: (
        rows: [
            (
                left: [
                    (kind: Text("["), style: (fg: "#ebdbb2", modifiers: "Bold")),
                    (kind: Property(Status(State)), style: (fg: "#ebdbb2", modifiers: "Bold")),
                    (kind: Text("]"), style: (fg: "#ebdbb2", modifiers: "Bold")),
                    (kind: Text("Vol: "), style: (fg: "#ebdbb2", modifiers: "Bold")),
                    (kind: Property(Status(Volume)), style: (fg: "#ebdbb2", modifiers: "Bold")),
                    (kind: Text("% "), style: (fg: "#ebdbb2", modifiers: "Bold"))
                ],
                center: [
                    (kind: Property(Song(Filename)), style: (fg: "#ebdbb2", modifiers: "Bold"),
                        default: (kind: Text("Unknown"), style: (fg: "#ebdbb2", modifiers: "Bold"))
                    )
                ],
                right: [
                    (kind: Text("[ "),style: (fg: "#ebdbb2")),
                    (kind: Property(Status(RepeatV2(
                                    on_label: "", off_label: "",
                                    on_style: (fg: "#ebdbb2", modifiers: "Bold"), off_style: (fg: "#4c566a", modifiers: "Bold"))))),
                    (kind: Text(" | "),style: (fg: "#ebdbb2")),
                    (kind: Property(Status(RandomV2(
                                    on_label: "", off_label: "",
                                    on_style: (fg: "#ebdbb2", modifiers: "Bold"), off_style: (fg: "#4c566a", modifiers: "Bold"))))),
                    (kind: Text(" | "),style: (fg: "#ebdbb2")),
                    (kind: Property(Status(ConsumeV2(
                                    on_label: "󰮯", off_label: "󰮯", oneshot_label: "󰮯󰇊",
                                    on_style: (fg: "#ebdbb2", modifiers: "Bold"), off_style: (fg: "#4c566a", modifiers: "Bold"))))),
                    (kind: Text(" | "),style: (fg: "#ebdbb2")),
                    (kind: Property(Status(SingleV2(
                                    on_label: "󰎤", off_label: "󰎦", oneshot_label: "󰇊", off_oneshot_label: "󱅊",
                                    on_style: (fg: "#ebdbb2", modifiers: "Bold"), off_style: (fg: "#ebdbb2", modifiers: "Bold"))))),
                ]
            )
        ],
    ),
    browser_song_format: [
        (
            kind: Group([
                (kind: Property(Track)),
                (kind: Text(" ")),
            ])
        ),
        (
            kind: Group([
                (kind: Property(Artist)),
                (kind: Text(" - ")),
                (kind: Property(Title)),
            ]),
            default: (kind: Property(Filename))
        ),
    ],
    lyrics: (
        timestamp: false
    )
)
